.form {
    margin-left: 240px;
    margin-top: 30px;
}

.create_input {
    width: 100px;
    margin-left: 240px;
}

.example-full-width {
    width: 300px;
}

.button_create {
    width: 300px;
}


// display: flex; flex-direction: column; padding: 50px;

// style="width: 150px; margin-top: 20px"

